<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >

<title>cutezhangq</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="shortcut icon" href="https://cutezhangq.github.io/favicon.ico?v=1597072311726">
<link rel="stylesheet" href="https://cutezhangq.github.io/styles/main.css">



<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



    <meta name="description" content="温故知新">
    
  </head>
  <body>
    <div id="app" class="main">

      <div class="sidebar" :class="{ 'full-height': menuVisible }">
  <div class="top-container" data-aos="fade-right">
    <div class="top-header-container">
      <a class="site-title-container" href="https://cutezhangq.github.io">
        <img src="https://cutezhangq.github.io/images/avatar.png?v=1597072311726" class="site-logo">
        <h1 class="site-title">cutezhangq</h1>
      </a>
      <div class="menu-btn" @click="menuVisible = !menuVisible">
        <div class="line"></div>
      </div>
    </div>
    <div>
      
        
          <a href="/" class="site-nav">
            首页
          </a>
        
      
        
          <a href="/archives" class="site-nav">
            归档
          </a>
        
      
        
          <a href="/tags" class="site-nav">
            标签
          </a>
        
      
        
          <a href="/post/about" class="site-nav">
            关于
          </a>
        
      
    </div>
  </div>
  <div class="bottom-container" data-aos="flip-up" data-aos-offset="0">
    <div class="social-container">
      
        
          <a class="social-link" href="https://github.com/cutezhangq" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        
      
        
      
        
      
        
      
        
      
    </div>
    <div class="site-description">
      温故知新
    </div>
    <div class="site-footer">
      Powered by <a href="https://github.com/getgridea/gridea" target="_blank">Gridea</a> | <a class="rss" href="https://cutezhangq.github.io/atom.xml" target="_blank">RSS</a>
    </div>
  </div>
</div>


      <div class="main-container">
        <div class="content-container" data-aos="fade-up">
          
            <article class="post-item">
              <div class="left">
                <a href="https://cutezhangq.github.io/post/thisapplycallbind/">
                  <h2 class="post-title">this、apply、call、bind</h2>
                </a>
                <div class="post-date">
                  2020-08-09
                </div>
                <div class="post-abstract">
                  <p>👉面试题：this的指向一般是由什么决定的，一般怎么改变它的指向？<br>
🙋答：this就是<code>属性或方法</code><strong>当前</strong>所在的<code>对象</code>；可以通过将函数赋值给变量的方式改变this的指向，也可以通过<code>.call()、.apply()、.bind()</code>的方式改变this的指向...🏃‍♀</p>

                </div>
              </div>
              
                <a class="right" href="https://cutezhangq.github.io/post/thisapplycallbind/">
                  <div class="feature-container" style="background-image: url('https://cutezhangq.github.io/post-images/thisapplycallbind.jpg')">
                  </div>
                </a>
              
            </article>
          
            <article class="post-item">
              <div class="left">
                <a href="https://cutezhangq.github.io/post/slot-cha-cao/">
                  <h2 class="post-title">slot插槽</h2>
                </a>
                <div class="post-date">
                  2020-08-07
                </div>
                <div class="post-abstract">
                  <p>👉插槽，也就是slot，👈<strong>是组件的一块HTML模板，这块模板显示不显示、以及怎样显示由父组件来决定。 **<br>
实际上，一个slot最核心的两个问题在这里就点出来了，是</strong>显示不显示<strong>和</strong>怎样显示**。🙆🙆🙆</p>

                </div>
              </div>
              
                <a class="right" href="https://cutezhangq.github.io/post/slot-cha-cao/">
                  <div class="feature-container" style="background-image: url('https://cutezhangq.github.io/post-images/slot-cha-cao.jpg')">
                  </div>
                </a>
              
            </article>
          
            <article class="post-item">
              <div class="left">
                <a href="https://cutezhangq.github.io/post/xiao-xi-ding-yue-yu-fa-bu/">
                  <h2 class="post-title"> 消息订阅与发布</h2>
                </a>
                <div class="post-date">
                  2020-08-07
                </div>
                <div class="post-abstract">
                  <p>结合 Vue 源码谈谈发布-订阅模式🙆🙆🙆，并涉及几个核心对象如 Observer 等。看看他们在vue实例中的应用~</p>

                </div>
              </div>
              
                <a class="right" href="https://cutezhangq.github.io/post/xiao-xi-ding-yue-yu-fa-bu/">
                  <div class="feature-container" style="background-image: url('https://cutezhangq.github.io/post-images/xiao-xi-ding-yue-yu-fa-bu.jpg')">
                  </div>
                </a>
              
            </article>
          
            <article class="post-item">
              <div class="left">
                <a href="https://cutezhangq.github.io/post/shuang-xiang-shu-ju-bang-ding-dan-xiang-shu-ju-liu/">
                  <h2 class="post-title">双向数据绑定、单向数据流</h2>
                </a>
                <div class="post-date">
                  2020-08-07
                </div>
                <div class="post-abstract">
                  <p>单向数据流和双向数据绑定各有优缺点，一起来看看吧~🙆</p>

                </div>
              </div>
              
                <a class="right" href="https://cutezhangq.github.io/post/shuang-xiang-shu-ju-bang-ding-dan-xiang-shu-ju-liu/">
                  <div class="feature-container" style="background-image: url('https://cutezhangq.github.io/post-images/shuang-xiang-shu-ju-bang-ding-dan-xiang-shu-ju-liu.jpg')">
                  </div>
                </a>
              
            </article>
          
            <article class="post-item">
              <div class="left">
                <a href="https://cutezhangq.github.io/post/computedwatchmethod-zhi-xing-de-xian-hou-shun-xu/">
                  <h2 class="post-title">computed，watch，method执行的先后顺序</h2>
                </a>
                <div class="post-date">
                  2020-08-06
                </div>
                <div class="post-abstract">
                  <p>👉他们的执行顺序为：<code>默认加载的时候先computed再watch，不执行methods；等触发某一事件后，则是：先methods再watch。</code></p>

                </div>
              </div>
              
                <a class="right" href="https://cutezhangq.github.io/post/computedwatchmethod-zhi-xing-de-xian-hou-shun-xu/">
                  <div class="feature-container" style="background-image: url('https://cutezhangq.github.io/post-images/computedwatchmethod-zhi-xing-de-xian-hou-shun-xu.jpg')">
                  </div>
                </a>
              
            </article>
          
            <article class="post-item">
              <div class="left">
                <a href="https://cutezhangq.github.io/post/shu-ju-tong-xin-fang-an-zu-jian-jian-chuan-zhi/">
                  <h2 class="post-title">数据通信方案、组件间传值</h2>
                </a>
                <div class="post-date">
                  2020-08-06
                </div>
                <div class="post-abstract">
                  <p>组件间的通信方式有多种~，一起来看下吧，最全攻略哦！👉<br>
在讲述通信方式之前，我们先了解下组件间通信的特点💁</p>
<h1 id="组件间通信的特点">组件间通信的特点</h1>
<p>👉1. 不要在子组件中直接修改父组件的状态数据<br>
👉2. 数据在哪, 更新数据的行为(函数)就应该定义在哪</p>
<h1 id="vue-组件数据通信方案总结">Vue 组件数据通信方案总结</h1>
<p><img src="https://cutezhangq.github.io/post-images/1596720130251.png" alt="" loading="lazy"><br>
组件 A 与组件 B 、C 之间是父子组件，组件 B 、C 之间是兄弟组件，而组件 A 、D 之间是隔代的关系。<br>
那么对于这些不同的关系，本文主要分享了他们之间可以采用的几种数据通信方式，<br>
例如 Props 、$emit / $on 、Vuex 等，大家可以根据自己的使用场景可以选择适合的使用方式。</p>
<h1 id="一-prop-emit-父子-子父">一、 Prop / $emit    （父——&gt;子        子——&gt;父）</h1>
<h2 id="prop-通过绑定属性的方式">Prop  通过绑定属性的方式</h2>
<pre><code class="language-html">// 父组件   &lt;child :title=&quot;title1&quot;&gt;&lt;/child&gt;
// 子组件   props: { title:Object }
</code></pre>
<p>其中，props的用法：<br>
props 是<strong>单向绑定</strong>的：当父组件的属性变化时，将传导给子组件，但是不会反过来。这是为了防止子组件无意修改父组件的状态。<br>
所以<code>不应该在子组件中修改 props 中的值，Vue 会报出警告</code>。</p>
<h2 id="修改-props-数据">修改 props 数据</h2>
<p>通常有两种原因：</p>
<ul>
<li>prop 作为初始值传入后，子组件想把它当做局部数据来用</li>
<li>prop 作为初始值传入后，由子组件处理成其他数据输出</li>
</ul>
<h2 id="应对办法是">应对办法是</h2>
<ul>
<li>定义一个<code>局部变量</code>，并用 prop 的值初始化它<br>
但是由于定义的 ownChildMsg 只能接受 forChildMsg <code>的初始值</code>，当父组件要传递的值变化发生时，ownChildMsg <code>无法收到更新</code>。</li>
</ul>
<pre><code class="language-js">let childNode = {
  template: `
          &lt;div class=&quot;child&quot;&gt;
            &lt;div&gt;
              &lt;span&gt;子组件数据&lt;/span&gt;
              &lt;input v-model=&quot;forChildMsg&quot;/&gt;
            &lt;/div&gt;
            &lt;p&gt;{{forChildMsg}}&lt;/p&gt;
            &lt;p&gt;ownChildMsg : {{ownChildMsg}}&lt;/p&gt;
          &lt;/div&gt;`,
  props: {
    &quot;for-child-msg&quot;: String
  },
  data() {
    return { ownChildMsg: this.forChildMsg };
  }
};
</code></pre>
<p>这里我们加了一个<p>用于查看 ownChildMsg 数据是否变化，结果发现只有默认值传递给了 ownChildMsg，父组件改变只会变化到 forChildMsg，不会修改 ownChildMsg。</p>
<ul>
<li>定义一个<code>计算属性</code>，处理 prop 的值并返回<br>
由于是计算属性，所以只能显示值，不能设置值。我们这里设置的是一旦从父组件修改了 forChildMsg 数据，我们就把 forChildMsg 加上一个字符串&quot;---ownChildMsg&quot;，然后显示在屏幕上。这时是可以每当父组件修改了新数据，<code>都会更新</code> ownChildMsg 数据的。</li>
</ul>
<pre><code class="language-js">let childNode = {
  template: `
          &lt;div class=&quot;child&quot;&gt;
            &lt;div&gt;
              &lt;span&gt;子组件数据&lt;/span&gt;
              &lt;input v-model=&quot;forChildMsg&quot;/&gt;
            &lt;/div&gt;
            &lt;p&gt;{{forChildMsg}}&lt;/p&gt;
            &lt;p&gt;ownChildMsg : {{ownChildMsg}}&lt;/p&gt;
          &lt;/div&gt;`,
  props: {
    &quot;for-child-msg&quot;: String
  },
  computed: {
    ownChildMsg() {
      return this.forChildMsg + &quot;---ownChildMsg&quot;;
    }
  }
};
</code></pre>
<ul>
<li>更加妥帖的方式是<code>使用变量存储</code> prop 的初始值，并用<code>watch</code>来观察 prop 值得<code>变化</code>。发生变化时，更新变量的值。</li>
</ul>
<pre><code class="language-js">let childNode = {
  template: `
          &lt;div class=&quot;child&quot;&gt;
            &lt;div&gt;
              &lt;span&gt;子组件数据&lt;/span&gt;
              &lt;input v-model=&quot;forChildMsg&quot;/&gt;
            &lt;/div&gt;
            &lt;p&gt;{{forChildMsg}}&lt;/p&gt;
            &lt;p&gt;ownChildMsg : {{ownChildMsg}}&lt;/p&gt;
          &lt;/div&gt;`,
  props: {
    &quot;for-child-msg&quot;: String
  },
  data() {
    return {
      ownChildMsg: this.forChildMsg
    };
  },
  watch: {
    forChildMsg() {
      this.ownChildMsg = this.forChildMsg;
    }
  }
};
</code></pre>

                </div>
              </div>
              
                <a class="right" href="https://cutezhangq.github.io/post/shu-ju-tong-xin-fang-an-zu-jian-jian-chuan-zhi/">
                  <div class="feature-container" style="background-image: url('https://cutezhangq.github.io/post-images/shu-ju-tong-xin-fang-an-zu-jian-jian-chuan-zhi.jpg')">
                  </div>
                </a>
              
            </article>
          
            <article class="post-item">
              <div class="left">
                <a href="https://cutezhangq.github.io/post/new-yun-suan-fu-de-zhi-xing-guo-cheng/">
                  <h2 class="post-title"> new运算符的执行过程</h2>
                </a>
                <div class="post-date">
                  2020-08-06
                </div>
                <div class="post-abstract">
                  
                </div>
              </div>
              
                <a class="right" href="https://cutezhangq.github.io/post/new-yun-suan-fu-de-zhi-xing-guo-cheng/">
                  <div class="feature-container" style="background-image: url('https://cutezhangq.github.io/post-images/new-yun-suan-fu-de-zhi-xing-guo-cheng.jpg')">
                  </div>
                </a>
              
            </article>
          
            <article class="post-item">
              <div class="left">
                <a href="https://cutezhangq.github.io/post/jsonstringify-yu-huan-wen-ti/">
                  <h2 class="post-title">JSON.stringify与&#34;环&#34;问题</h2>
                </a>
                <div class="post-date">
                  2020-08-06
                </div>
                <div class="post-abstract">
                  
                </div>
              </div>
              
                <a class="right" href="https://cutezhangq.github.io/post/jsonstringify-yu-huan-wen-ti/">
                  <div class="feature-container" style="background-image: url('https://cutezhangq.github.io/post-images/jsonstringify-yu-huan-wen-ti.jpg')">
                  </div>
                </a>
              
            </article>
          
            <article class="post-item">
              <div class="left">
                <a href="https://cutezhangq.github.io/post/vuex-zhong-mutations-he-actions-de-qu-bie/">
                  <h2 class="post-title">Vuex中mutations和actions的区别</h2>
                </a>
                <div class="post-date">
                  2020-08-06
                </div>
                <div class="post-abstract">
                  
                </div>
              </div>
              
                <a class="right" href="https://cutezhangq.github.io/post/vuex-zhong-mutations-he-actions-de-qu-bie/">
                  <div class="feature-container" style="background-image: url('https://cutezhangq.github.io/post-images/vuex-zhong-mutations-he-actions-de-qu-bie.jpg')">
                  </div>
                </a>
              
            </article>
          
            <article class="post-item">
              <div class="left">
                <a href="https://cutezhangq.github.io/post/mpvue-xing-neng-you-hua-ji-qiao/">
                  <h2 class="post-title">mpvue性能优化技巧</h2>
                </a>
                <div class="post-date">
                  2020-08-05
                </div>
                <div class="post-abstract">
                  
                </div>
              </div>
              
                <a class="right" href="https://cutezhangq.github.io/post/mpvue-xing-neng-you-hua-ji-qiao/">
                  <div class="feature-container" style="background-image: url('https://cutezhangq.github.io/post-images/mpvue-xing-neng-you-hua-ji-qiao.jpg')">
                  </div>
                </a>
              
            </article>
          

          <div class="pagination-container">
  
  
    <a href="https://cutezhangq.github.io/page/2" class="next">下一页 <i class="icon-arrow-ios-forward-outline"></i></a>
  
</div>

        </div>
      </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script type="application/javascript">

AOS.init();

var app = new Vue({
  el: '#app',
  data: {
    menuVisible: false,
  },
})

</script>


  <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad()
  </script>





  </body>
</html>
